*{
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}

html{
  font-size: 62.5%;

}

body{

  background-color: #EFEDEE; 
   
}

h1{
  font-size:2.6rem;
}

p{
  font-size: 1.6rem;
}


.head{
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

#productDescription{
  border-color: #948f8f;
  margin-top: 10px;
  height: 10rem;
  text-align: start;
  padding-top: 10px;
  padding-left: 10px;
}

.container {
  background-color: #efedee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.modal-container {
  display: flex;
  max-width: 70vw;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition-duration: 0.3s;
  background: #fff;
} 

.modal-left {
  padding: 60px 30px 40px;
  background: #fff;
  flex: 1.5;
  transition-duration: 0.5s;
  opacity: 1;
}


.modal-title {
  margin: 0;
  font-weight: 400;
  color: #55311c;
}
.form-error {
  font-size: 1.2rem;
  color: #b22b27;
}
.modal-desc {
  margin: 6px 0 30px 0;
}

.card{
  width: 200px;
  height: 220px;
  margin: 10px;
  padding: 10px;
  background-color: antiquewhite;
}

.Products{
  display: flex;
  margin-left: 40px;
  margin-top: 23px;
  gap: 30px;
  
}

.pro-head{
  text-align: center;
  margin-top: 40px;
}

.divider{
  position: relative;
  top: 20px;
  border: none;
  height: 4px;
  background: black;
  margin-bottom: 50px;
}

.modal-right {
  flex: 2;
  font-size: 0;
  transition: 0.3s;
  overflow: hidden;
}
.modal-right img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  -o-object-fit: cover;
  object-fit: cover;
  transition-duration: 1.2s;
}

.modal.is-open .modal-left {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.1s;
}
.modal-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-buttons a {
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
}

.sign-up {
  margin: 20px 0 0;
  font-size: 14px;
  text-align: center;
}
.sign-up a {
  color: #121315;
}

.input-button {
  padding: 1.2rem 3.2rem;
  outline: none;
  text-transform: uppercase;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #121315;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}
.input-button:hover {
  background: #121315;
}

.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #8c7569;
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;
}
.input-block input {
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
}

.input-block input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
.input-block input:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
.input-block input::placeholder {
  color: #ccc;
  opacity: 1;
}
.input-block:focus-within {
  border-color: #8c7569;
}
.input-block:focus-within .input-label {
  color: rgba(140, 117, 105, 0.8);
}

@media (max-width: 750px) {
  .modal-container {
    max-width: 90vw;
  }

  .modal-right {
    display: none;
  }
}

.contain-nav{
  background-color: #121315;
}


/* homwpage start */

.homepage {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../../public/car-parts-img.jpg");
  background-position: center 65%;
  background-size: cover;
  background-attachment: fixed;
}
.homepage::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.homepage .content {
  display: flex;
  height: 85%;
  z-index: 3;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -100px;
}
.homepage .content h1 {
  font-size: 30px;
  font-weight: 700;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.homepage .content p {
  font-size: 58px;
  font-weight: 700;
  margin-top: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.homepage .content .text {
  /* margin-bottom: 50px; */
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.content a {
  color: #000;
  display: block;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: -20px;
  padding: 10px 30px;
  border-radius: 5px;
  background: #fff;
  border: 2px solid #fff;
  transition: 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
.content a:hover {
  color: #fff;
  background: rgba(255,255,255,0.3);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 0 0;
  
}


/* homepage end */






/* Footer start */

footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}
footer * {
  box-sizing: border-box;
  border: none;
  outline: none;
}

.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
.footer-head3 {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.4em;
  white-space: nowrap;
}
.footer-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
li:not(:first-child) {
  margin-top: 0.8em;
}
.footer-ul li a {
  color: #a7a7a7;
  text-decoration: none;
}
.footer-ul li a:hover {
  color: #2a8ded;
}
.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}
input,
.footer-button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.footer-button {
  background-color: #c7940a;
  color: #ffffff;
}

.footer-menu{
  float: left;
    margin-top: 10px;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 6px;

  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}

@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }

}


/* Footer end */